{% extends 'base.html.twig' %}

{% block title %}Food Collection{% endblock %}

{% block body %}

<!-- Page Title -->
<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>Food Collection</h2>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Food Collection</li>
            </ul>
        </div>
    </div>
</div>

<!-- Collection -->
<section class="collection-area collection-area-two pt-100 pb-70">
    <div class="container">

        <!-- Filter Menu -->
        <div class="sorting-menu">
            <ul>
                <li class="filter active" data-filter="all">All</li>
                <li class="filter" data-filter=".web">Fast Food</li>
                <li class="filter" data-filter=".ui">Platters</li>
                <li class="filter" data-filter=".ux">Dessert</li>
                <li class="filter" data-filter=".branding">Asian Food</li>
            </ul>
        </div>

        <!-- Items -->
        <div id="Container" class="row">

            {% for i in 1..8 %}
            <div class="col-sm-6 col-lg-3 mix web ui">
                <div class="collection-item">

                    <!-- Image -->
                    <div class="collection-top">
                        <img src="{{ asset('assets/img/home-one/collection/' ~ i ~ '.jpg') }}" alt="Recipe">

                        <!-- Rating -->
                        <ul>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star checked'></i></li>
                            <li><i class='bx bxs-star'></i></li>
                        </ul>
                    </div>

                    <!-- Content -->
                    <div class="collection-bottom">
                        <h3>Recipe {{ i }}</h3>

                        <ul>
                            <li><span>${{ 10 + i }}</span></li>

                            <li>
                                <div class="number">
                                    <span class="minus">-</span>
                                    <input type="text" class="form-control" value="1"/>
                                    <span class="plus">+</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</section>

{% endblock %}